.employee-form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  width: 100%;
}

.form-title {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

.employee-form {
  display: flex;
  flex-direction: column; 
  width: 300px; 
}

.employee-form label {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
}

.employee-form input {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
}

.employee-form-wrapper .employee-form button {
  margin-top: 20px;
  padding: 10px;
  background-color: #0077cc; /* blue */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 50%;
  align-self: center;
}
